@media (min-width: 400px) {
/*header*/


  header {

    height:100px;
    text-align: center;
    background-color: #404041;

  }

  h1 {

    padding: 15px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #404041;

  }

  .A {
    color:#E6E7E8;
    padding:15px;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }


  /*Body Attributes */

  body {
    background-color:

  }


  /*1st Section */
.inputArea {

  text-align: center;
  align-content: center;
  padding:20px;
  }

.userInput {
  margin:10px;
  height: 30px;
  width: 325px;
  display:block;
  margin:auto;
  }

.clear{
  display: inline-block;
  margin:10px;
  width:150px;
  height:30px;
  border-radius: 20px;
  background-color: #929497;
}
.guess{
  display: inline-block;
  margin:10px;
  width:150px;
  height:30px;
  border-radius: 20px;
  background-color: #929497;
}


  .guess:hover{
    background-color: #EB008B;
  }

  .guess:disabled{
    background-color:#D0DD23
  }


  .button-text {
    color:#FFFFFF;
    padding:auto;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

  /*2nd Section*/

  .resetGuess {
    margin:10px;
    width:300px;
    height:30px;
    border-radius: 20px;
    background-color:#929497;

  }

  .recall{
    color:#404041;
    padding:auto;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 10px;
  }


    .populate {
    height: 200px;
    width: 200px;
    padding: auto;
    margin:auto;
    color: #EB008B;
    font-size: 150px;

  }

  .guessStatement {
    text-align: center;
  }


  .integer{
    font-size:25px;

  }

.populate:p{
  background: red;
}
